# Python bytecode
__pycache__/
*.py[cod]

# IDEs and editors
.vscode/
.idea/
*.swp

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Virtual environment
venv/
env/
.env

# Pytest
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints
